<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LOGIN TEST</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/auth/logout">LOGOUT</a></li>
      <li><a href="/auth/login">LOGIN</a></li>
      <li><a href="/">DUMBLETOUR HOMEPAGE</a></li>
    </ul>
  </nav>
  <header>
    <h1>DUMBLETOUR</h1>
  </header>
  <main>
    <a class="google-btn" href="/auth/google">Google+</a>
  </main>
</body>
</html>